defaults REDIS
 mode tcp
 timeout connect  4s
 timeout server  30s
 timeout client  30s
 
frontend ft_redis_master
 bind 0.0.0.0:6379 name redis_master
 default_backend bk_redis_master
 
backend bk_redis_master
 option tcp-check
 tcp-check send PING\r\n
 tcp-check expect string +PONG
 tcp-check send info\ replication\r\n
 tcp-check expect string role:master
 tcp-check send QUIT\r\n
 tcp-check expect string +OK
 <services>

frontend ft_redis_slave
 bind 0.0.0.0:6380 name redis_slave
 default_backend bk_redis_slave
 
backend bk_redis_slave
 option tcp-check
 tcp-check send PING\r\n
 tcp-check expect string +PONG
 tcp-check send info\ replication\r\n
 tcp-check expect string role:slave
 tcp-check send QUIT\r\n
 tcp-check expect string +OK
 <services>
